.board {
    border: 1px solid black;
    min-width: 98vw;
    min-height: 98vh;
}

.board-table {
    min-width: 98vw;
    min-height: 98vh;
    margin-left: 0.5vw;
}

.col {
    /* border: 1px solid black; */
}

.checkbx {
    width: 40px;
    height: 40px;
}

.hidden {
    visibility: hidden;
}

.lbl {
    border: 1px solid #000;
    /* width: 3vw;
    height: 3vh; */
    display: block;
    background-color: #000;
    opacity: 0.5;
}

.lbl-checked {
    background-color: purple;
    opacity: 1;
}

input:active ~ .checkbx {
    background-color: #000;
    content: 'boom';
}

input:checked ~ .checkbx {
    background-color: #000;
    content: '::';
}

input:checked ~ .checkbx:after {
    display: block;
    color: red;
    content: '?';
}
